* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: #33475b;
  font-family: AvenirNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #33475b;
  vertical-align: baseline;
}

.header--uno,
.header--uno--izq,
.header--uno--der,
.header--dos,
.header--tres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header--uno {
  font-size: 0.75rem;
  height: 4em;
  align-items: center;
  font-weight: 500;
  margin-right: 2em;
}

.header--uno--der #lupa {
  width: 1.5em;
  height: 1.5em;
}

.header--dos {
  height: 5em;
  padding-top: 1em;
  margin-right: 2em;
}
.header--dos-div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;
}

.header--dos--lista {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header--dos--boton {
  font-size: 0.875rem;
  font-weight: 600;
  height: 3em;
  padding: 0.45em;
  background-color: #ff7a59;
  color: #fff;
  border: 1px solid #ff7a59;
  border-radius: 0.6em;
}

.header--tres {
  align-items: center;
  background-color: #33475b;
  color: #fff;
  font-weight: 400;
  text-align: center;
  height: 5em;
  line-height: 1.5;
  padding-left: 3em;
}

#header--tres--parrafo {
  max-width: 70%;
}
.header--tres--boton {
  padding: 0.5em 1em;
  font-size: 0.8em;
  font-weight: 500;
  min-width: 5em;
  background-color: #fff;
  color: #33475b;
  border: 1px solid #fff;
  margin-right: 2em;
  margin-left: 2em;
}

a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: #0091ae;
  text-decoration: underline;
}

li {
  list-style: none;
  padding-left: 1.5em;
}

footer {
  height: 110vh;
  margin-top: 10px;
  background-color: #33475b;
}
.footer {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;

  margin: 100px;
  height: 70vh;
  margin-bottom: 30px;
}
.footer h2 {
  font-size: 0.8rem;
  margin-bottom: 25px;
}

.footer-div {
  text-decoration: none;
  height: 60vh;
  width: 15vw;
  margin-top: 55px;
}

.footer-div ul li {
  margin-top: 20px;
  font-size: 0.8rem;
  font-weight: bold;
}
.footer-div ul li a {
  color: #dfd8ca;
}

.footer-div .Partners {
  margin-top: 50px;
}
.footer-div .Partners ul {
  margin-top: 50px;
}

.linea {
  margin-top: 50px;
  border-left: 1px solid white;
  height: 425px;
}

.redes {
  display: flex;
  height: 12vh;
  align-items: center;
  justify-content: center;
}

.redes ul {
  display: flex;
}
.redes ul li {
  margin-right: 1px;
}

.redes ul li a img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.redes ul li hr {
  width: 23rem;
  margin-top: 18px;
}

.final-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.final-footer img {
  width: 90px;
  height: 40px;
}

.final-footer p {
  color: #dfd8ca;
  font-size: 0.7rem;
  font-weight: bold;
}

.linea_final {
  border-left: 1px solid white;
  height: 10px;
  margin: 1px;
}
.final-footer_finaly {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
